---
import Main from '../components/Main.astro';
import Jumbo from '../components/Jumbo.astro';
import Layout from '../layouts/Layout.astro';
import TechScroll from '../components/TechScroll.astro';
---

<Layout>
	<Main>
		<Jumbo>
			<TechScroll />
		</Jumbo>
	</Main>
</Layout>
