---
const techs = [
    "astro",
    "react",
    "tailwindcss",
    "postgresql",
    "docker",
    "python",
    "django",
    "javascript",
    "typescript",
    "HTML5",
    "CSS3",
    "git",
    "bash",
    "linux",
]
---

<div class="relative overflow-x-hidden py-8">
    <div class="pointer-events-none absolute inset-y-0 left-0 w-32 bg-gradient-to-r from-[#101010] to-transparent z-22"></div>
    <div class="pointer-events-none absolute inset-y-0 right-0 w-32 bg-gradient-to-l from-[#101010] to-transparent z-22"></div>
    <div class="flex animate-scroll hover:animate-paused gap-12 md:gap-20 w-max">
        {
            [...techs, ...techs, ...techs].map((tech) => (
                <div class="flex items-center gap-2 group transition-all duration-300">
                    <img 
                        src={`/assets/${tech}.svg`} 
                        alt={tech} 
                        class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
                        width="30"
                        height="30"
                        loading="lazy" 
                    />
                    <span class="text-lg font-medium text-[#f3f3f398]">
                        {tech.charAt(0).toUpperCase() + tech.slice(1)}
                    </span>
                </div>
            ))
        }
    </div>
</div>